html{
    scroll-behavior: smooth;
}

body{
    margin: 0;
    text-align: center;
    font-family: 'Roboto' ,sans-serif, Arial ;
}

h1{
    line-height: 1.15;
    font-family: 'Fjalla One', 'Roboto', sans-serif ; 
}

h2{
    font-weight: normal;
    font-family: 'Fjalla One', 'Roboto', sans-serif;
    display: inline-block;
    width: 10%;
    margin-top: 0;
    position: relative;
    top: 20px;
    color: #ffffff;
}

h3{
    font-family: 'Fjalla One', 'Roboto', sans-serif;
}

p{
    font-family: 'Fjalla One', 'Roboto', sans-serif;
}

img{
    height: 200px;
    width: 200px;
}

hr{
    border-color: #1b1b1b!important;
    width: 50px!important;
    border-style: dotted none none!important;
    border-width: 8px!important;
}

/* CLASS SELECTORS */

.NavBar{
    position: sticky;
    top: 0;
    background-color: #1b1b1b;
    align-items: center;
    height: 4.375em;
    padding: 10px;
    width: 100%;
}

.contact-hr{
    width: 6.25em;
    border-width: 1px;
    border-color: #1a1a1a;
    border-style: solid;
}

/* CONTAINERS */

.TopContainer{
    background-color: #FF9F45;
    height: 49.8125em;
    width: 100%;
    padding: 10px;                          /* Puts gap between edge of div and the contents within */
    position: relative;
    padding-top: 30px;
    z-index: 5;
    background-image: url(https://vastphotos.com/files/uploads/photos/10447/golden-gate-bridge-in-fog-l.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}


.GreetingsContainer{
    margin: auto;
    text-align: center;
    position: relative;
    height: 500px;
    width: 100%;
    padding: 10px;
    background-color: #FF9F45;
    z-index: 4;
}

.MiddleContainer{
    position: relative;
    background-color: #E9DAC1;
    width: 100%;
    height:1300px;
    padding: 10px;
    z-index: 3;
}

.skill-row{
    width: 55%;
    margin: 100px auto 100px auto;
    text-align: left;
}

/*.skill-row2{
    width: 50%;
}
.skill-row3{
    width: 50%;
}
.skill-row4{
    width: 50%;
}
*/

.BottomContainer{
    position: relative;
    height: 600px;
    width: 100%;
    background-color: #FFE162;
    text-align: center;
    line-height: 1.5;
    padding: 10px;
    z-index: 2;
}

.ContactMe{
    margin: auto;
    height: 200px;
    width: 100%;
    padding: 10px;
    position: sticky;
    bottom: 0;
    z-index: 1;
}

/* IMAGES CLASSES */

/*.computer{
    position: relative;
    height: 12%;
    width: 12%;
    top: 400px;

}*/

.circular{
    border-radius: 130%;
}

.Logo{
    position: absolute;
    width: 3%;
    left: 1.25em;
    top: 0.95em;
    height: auto;

}

/* Contact Section Images */

.emailicon{
    right: 15px;
    display: inline-block;
    position: relative;
    height: 40px;
    width: 40px;
    z-index: 1;
}

.githubicon{
    display: inline-block;
    position: relative;
    height: 40px;
    width: 40px;
    z-index: 1;
}

.linkedinicon{
    left: 15px;
    display: inline-block;
    position: relative;
    height: 40px;
    width: 40px;
    z-index: 1;
}

/* Middle/Skills Section Images */

.face{
    position: relative;
    height: 15%;
    width: 15%;
    top: 40px;
    border-style: outset;
    border-color: #1b1b1b;
}

.javagif{
    width: 17%;
    height: 17%;
    float: left;
    margin-right: 30px;
    padding-top: 10px;
}

.cssgif{
    width: 17%;
    height: 17%;
    float: left;
}

.htmlgif{
    float: left;
    width: 17%;
    height: 17%;
}

.bootstrapgif{
    width: 20%;
    height: 20%;
    float: right;
    margin-right: 20px;
}

.reactgif{
    width: 20%;
    height: 20%;
    float: right;
}

.vscgif{
    float: left;
    margin-right: 33px;
    padding-top: 20px;
    height: 16%;
    width: 16%;
}

.gitgif{
    padding-top: 50px;
    float: left;
    height: 24%;
    width: 24%;
}

/*.nodegif{
    width: 20%;
    height: 20%;
    float: right;
    margin-right: 20px;
}*/

.coming{
    position: absolute;
    top: 100px;
    padding-top: 50px ;
}


/* TEXT CLASSES */

.learn{
    text-decoration: underline;
}

.topheadertext{
    color: #1b1b1b;
    font-family: 'Fjalla One', 'Roboto', sans-serif ;
    width: 20%;
    margin: 10px auto 10px auto;
    position: absolute;
    top: 100px;
    left: 150px;
    font-size: 9.25rem;      /* If you use rem (root em) it'll ignore all other font-size and just use the value you put in front of rem */
}

.div1text{
    font-weight: normal;
    font-family: 'Fjalla One', 'Roboto', sans-serif;
    font-size: 3.5rem;      /* One em = 16px */
    position: absolute;
    top: 400px;
    left: 157px;
    color: #1b1b1b;
}

.middleheadertext{
    color: #1b1b1b;
    font-size: 2.5em;
    top: 50px;
}

.bottomheadertext{
    color: #1b1b1b;
    font-size: 3.125em;
    position: relative;
    top: 50px;
    padding-bottom: 80px;
}

.languagetext{
    font-weight: normal;
    font-size: 4.25em;
    position: relative;
    top: 50px;
    text-align: right;
}

.languagetext2{
    position: relative;
    text-align: right;
    /* clear: left; */                           /* Used to clear an element's left side */
}

.greetingtext{
    position: relative;
    top: 30px;
    font-weight: normal;
}

.frameworktext{
    font-weight: normal;
    font-size: 4.25em;
    position: relative;
    top: 50px;
}

.tooltext{
    text-align: right;
    font-weight: normal;
    font-size: 4.25em;
    position: relative;
    top: 50px;
}

.tooltext2{
    text-align: right;
}

.copyright-text{
    font-size: 0.775rem;
    margin-bottom: 10px;
}