body{
    margin: 0;
    text-align: center;
    font-family: 'Roboto' ,sans-serif, Arial ;
}

h1{
   font-family: 'Fjalla One', 'Roboto', sans-serif ; 
}

h2{
    font-family: 'Fjalla One', 'Roboto', sans-serif;
    display: inline-block;
    width: 10%;
    margin-top: 0;
    position: relative;
    top: 20px;
    color: #ffffff;
}

h3{
    font-family: 'Fjalla One', 'Roboto', sans-serif;
}

img{
    height: 200px;
    width: 200px;
}

hr{
    color: #707070;
    width: 9.375em;
}

/* CLASS SELECTORS */


.NavBar{
    background-color: #1b1b1b;
    align-items: center;
    height: 4.375em;
    padding: 10px;
    
}

/* CONTAINERS */

.TopContainer{
    background-color: #FF9F45;
    height: 49.8125em;
    padding: 10px;                          /* Puts gap between edge of div and the contents within */
    position: relative;
    padding-top: 30px;
    z-index: 5;
}

.GreetingsContainer{
    position: relative;
    height: 500px;
    padding: 10px;
    background-color: #FF9F45;
    z-index: 4;
}

.MiddleContainer{
    position: relative;
    background-color: #F7ECDE;
    height:1200px;
    padding: 10px;
    z-index: 3;
}

.BottomContainer{
    position: relative;
    background-color: #FFE162;
    height: 600px;
    padding: 10px 0;
    z-index: 2;
}

.ContactMe{
    height: 200px;
    padding: 10px;
    position: sticky;
    bottom: 0;
    z-index: 1;
}

/* IMAGES CLASSES */

.topchillies{
    position: absolute;
    left: 600px;
    bottom: 350px;

}

.bottomchillies{
    position: absolute;
    bottom: 560px;
    right: 270px;
}

.computer{
    position: relative;
    top: 400px;

}

.circular{
    border-radius: 130%;
}

.Logo{
    position: absolute;
    width: 3%;
    left: 20px;
    top: 14px;
    height: auto;

}

.Tokyo{
    position: absolute;
    left: 0px;
    bottom: 0px;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.emailicon{
    right: 15px;
    display: inline-block;
    position: relative;
    height: 40px;
    width: 40px;
    z-index: 1;
}

.githubicon{
    display: inline-block;
    position: relative;
    height: 40px;
    width: 40px;
    z-index: 1;
}

.linkedinicon{
    left: 15px;
    display: inline-block;
    position: relative;
    height: 40px;
    width: 40px;
    z-index: 1;
}

.face{
    position: relative;
    height: 15%;
    width: 15%;
    top: 20px;
}

.javagif{
    position: relative;
    bottom: 200px;
    right: 600px;
    height: 120px;
    width: 120px;

}

.coming{
    position: relative;
    top: 100px;
}

.python{
    position: relative;
    left: 600px;
    top: 10px;
}

/* TEXT CLASSES */

.learn{
    text-decoration: underline;
}

.topheadertext{
    color: #FF9F45;
    font-family: 'Fjalla One', 'Roboto', sans-serif ;
    display: inline-block;
    width: 20%;
    margin-top: 0;
    position: absolute;
    top: 100px;
    left: 150px;
    font-size: 6.25em;      /* If you use rem (root em) it'll ignore all other font-size and just use the value you put in front of rem */
}

.div1text{
    font-size: xx-large;
    position: absolute;
    top: 370px;
    left: 170px;
    color: #FF9F45;
}

.middleheadertext{
    color: #1b1b1b;
    font-size: 2.5em;
}

.bottomheadertext{
    color: #1b1b1b;
    font-size: 3.125em;
    position: relative;
    top: 50px;
}

.languagetext{
    font-size: 6.25em;
    position: relative;
    left: 650px;
}

.languagetext2{
    position: relative;
    left: 660px;
    bottom: 80px;
}
