html{
    scroll-behavior: smooth;
}

body{
    margin: 0;
    text-align: center;
    font-family: 'Roboto' ,sans-serif, Arial ;
}

h1{
    line-height: 1.15;
    font-family: 'Fjalla One', 'Roboto', sans-serif ; 
}

h2{
    font-weight: normal;
    font-family: 'Fjalla One', 'Roboto', sans-serif;
    display: inline-block;
    width: 10%;
    margin-top: 0;
    position: relative;
    top: 20px;
    color: #ffffff;
}

h3{
    font-family: 'Fjalla One', 'Roboto', sans-serif;
}

p{
    font-family: 'Fjalla One', 'Roboto', sans-serif;
}

img{
    height: 200px;
    width: 200px;
}

hr{
    color: #707070;
    width: 9.375em;
}

/* CLASS SELECTORS */


.NavBar{
    background-color: #1b1b1b;
    align-items: center;
    height: 4.375em;
    padding: 10px;
    width: 100%;
    
}

/* CONTAINERS */

.TopContainer{
    background-color: #FF9F45;
    height: 49.8125em;
    width: 100%;
    padding: 10px;                          /* Puts gap between edge of div and the contents within */
    position: relative;
    padding-top: 30px;
    z-index: 5;
}

.GreetingsContainer{
    text-align: center;
    position: relative;
    height: 500px;
    width: 100%;
    padding: 10px;
    background-color: #FF9F45;
    z-index: 4;
}

.MiddleContainer{
    position: relative;
    background-color: #F7ECDE;
    width: 100%;
    height:1200px;
    padding: 10px;
    z-index: 3;
}

.skill-row{
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
}

/*.skill-row2{
    width: 50%;
}

.skill-row3{
    width: 50%;
}

.skill-row4{
    width: 50%;
}
*/
.BottomContainer{
    position: relative;
    height: 600px;
    width: 100%;
    background-color: #FFE162;
    text-align: center;
    line-height: 1.5;
    padding: 10px;
    z-index: 2;
}

.ContactMe{
    margin: auto;
    height: 200px;
    width: 100%;
    padding: 10px;
    position: sticky;
    bottom: 0;
    z-index: 1;
}

/* IMAGES CLASSES */

.computer{
    position: relative;
    height: 12%;
    width: 12%;
    top: 400px;

}

.circular{
    border-radius: 130%;
}

.Logo{
    position: absolute;
    width: 3%;
    left: 1.25em;
    top: 1.7em;
    height: auto;

}

.Tokyo{
    position: absolute;
    left: 0px;
    bottom: 0px;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.emailicon{
    right: 15px;
    display: inline-block;
    position: relative;
    height: 40px;
    width: 40px;
    z-index: 1;
}

.githubicon{
    display: inline-block;
    position: relative;
    height: 40px;
    width: 40px;
    z-index: 1;
}

.linkedinicon{
    left: 15px;
    display: inline-block;
    position: relative;
    height: 40px;
    width: 40px;
    z-index: 1;
}

.face{
    position: relative;
    height: 15%;
    width: 15%;
    top: 20px;
}

.javagif{
    position: relative;
    height: 18%;
    width: 18%;

}

.coming{
    position: relative;
    top: 100px;
}

.python{
    position: relative;
}

/* TEXT CLASSES */

.learn{
    text-decoration: underline;
}

.topheadertext{
    color: #FF9F45;
    font-family: 'Fjalla One', 'Roboto', sans-serif ;
    width: 20%;
    margin: 10px auto 10px auto;
    position: absolute;
    top: 100px;
    left: 150px;
    font-size: 6.25rem;      /* If you use rem (root em) it'll ignore all other font-size and just use the value you put in front of rem */
}

.div1text{
    font-weight: normal;
    font-family: 'Fjalla One', 'Roboto', sans-serif;
    font-size: 2.5rem;      /* One em = 16px */
    position: absolute;
    top: 320px;
    left: 75px;
    color: #FF9F45;
}

.middleheadertext{
    color: #1b1b1b;
    font-size: 2.5em;
}

.bottomheadertext{
    color: #1b1b1b;
    font-size: 3.125em;
    position: relative;
    top: 50px;
}

.languagetext{
    font-weight: normal;
    font-size: 4.25em;
    position: relative;}

.languagetext2{
    position: relative;
}
